<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/readonly"
                        patch:before="dataProvider[@ref='dataProviders/main']"
                        
                        param1="$(id)" 
                        param2="/App_Data/$(id).definitions.dat"
                        param3="/App_Data/$(id).data.shared.dat" 
                        param4="/App_Data/$(id).data.lang.dat" />
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>