*.pubxml
*.user
desktop.ini
src/.vs/
src/packages/
src/Providers.CompositeDataProvider/bin/
src/Providers.CompositeDataProvider/obj/
src/Providers.ProtobufDataProvider.Tests/bin/
src/Providers.ProtobufDataProvider.Tests/obj/
src/Providers.ProtobufDataProvider/bin/
src/Providers.ProtobufDataProvider/obj/
src/Providers.SqlServerDataProvider/bin/
src/Providers.SqlServerDataProvider/obj/
src/Sitecore.Helpers.Tests/bin/
src/Sitecore.Helpers.Tests/obj/
src/Sitecore.Helpers/bin/
src/Sitecore.Helpers/obj/
src/Sitecore.ProtobufConvert/bin/
src/Sitecore.ProtobufConvert/obj/
src/Sitecore.Website/bin/
src/Sitecore.Website/obj/
