*.pubxml
*.user
desktop.ini
src/.vs/
src/Providers.AbstractDataProvider.Tests/bin/
src/Providers.AbstractDataProvider.Tests/obj/
src/Providers.AbstractDataProvider/bin/
src/Providers.AbstractDataProvider/obj/
src/Providers.CompositeDataProvider.Tests/bin/
src/Providers.CompositeDataProvider.Tests/obj/
src/Providers.CompositeDataProvider/bin/
src/Providers.CompositeDataProvider/obj/
src/Providers.MemoryDataProvider.Tests/bin/
src/Providers.MemoryDataProvider.Tests/obj/
src/Providers.MemoryDataProvider/bin/
src/Providers.MemoryDataProvider/obj/
src/Providers.ProtobufDataProvider.Base/bin/
src/Providers.ProtobufDataProvider.Base/obj/
src/Providers.ProtobufDataProvider.Tests/bin/
src/Providers.ProtobufDataProvider.Tests/obj/
src/Providers.ProtobufDataProvider/bin/
src/Providers.ProtobufDataProvider/obj/
src/Providers.SqlServerDataProvider/bin/
src/Providers.SqlServerDataProvider/obj/
src/Sitecore.ProtobufConvert/bin/
src/Sitecore.ProtobufConvert/obj/
src/Sitecore.Website/bin/
src/Sitecore.Website/obj/
src/packages/
