<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net45" />
  <package id="SC.protobuf-net" version="8.2.0" targetFramework="net452" />
  <package id="Sitecore.Diagnostics.Base" version="1.0.0.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Database" version="1.0.0.8" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.SqlDataProvider" version="1.0.0.18" targetFramework="net45" />
</packages>