<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <main set:type="Sitecore.Data.DataProviders.SqlServerDataProvider, Sitecore.Data.DataProviders.SqlServerDataProvider" />

      <compositeItems type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Data.DataProviders.CompositeDataProvider">
        <param desc="databaseName">$(1)</param>
      </compositeItems>

      <memoryItems type="Sitecore.Data.DataProviders.MemoryDataProvider, Sitecore.Data.DataProviders.MemoryDataProvider">
        <param desc="stateFile">/temp/$(1).state</param>
        <param desc="serializationPath">..\data\serialization\$(1)</param>
      </memoryItems>

      <protobufItems type="Sitecore.Data.DataProviders.ProtobufDataProvider, Sitecore.Data.DataProviders.ProtobufDataProvider">
        <param desc="databaseName">$(1)</param>
        <param desc="filePath">/App_Data/$(1).items.dat</param>
      </protobufItems>
    </dataProviders>
  </sitecore>
</configuration>