<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/main">
            <patch:delete />
          </dataProvider>

          <dataProvider ref="dataProviders/protobufItems" param1="$(id)" />

          <dataProvider ref="dataProviders/compositeItems" param1="$(id)">
            <dataProviders hint="list:AddDataProvider">
              <dataProvider ref="dataProviders/main" param1="$(id)">
                <prefetch hint="raw:AddPrefetch">
                  <sc.include file="/App_Config/Prefetch/Common.config" />
                  <sc.include file="/App_Config/Prefetch/Master.config" />
                </prefetch>
              </dataProvider>
              <dataProvider ref="dataProviders/protobufItems" param1="$(id)" />
            </dataProviders>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>